<div class="auth-wrapper flex flex-col justify-center items-center">
  <!-- only displayed if not logged in -->
  @if (!this.user.loggedIn) {
    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
      <mat-card class="auth-container">
        <mat-card-header class="rounded-t-lg mb-2">
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex flex-col justify-center items-center">
            <!-- username -->
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text" name="username" placeholder="Enter Username" ngModel>
              </mat-form-field>
            </div>
            <!-- password -->
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" placeholder="Enter Password" ngModel>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <!-- error messages -->
        @if (errorMsgs.length > 0) {
          <div class="error-msgs flex flex-col justify-center items-start">
            @for (errorMsg of errorMsgs; track errorMsg) {
              <div>Error: {{ errorMsg }}</div>
            }
          </div>
        }
        <!-- login button -->
        <mat-card-actions>
          <div class="w-full flex flex-col justify-center items-center">
            <button mat-raised-button type="submit" color="primary" aria-label="Login Button">Login</button>
          </div>
        </mat-card-actions>
      </mat-card>
      <div class="policy-links flex flex-col justify-center items-center">
          <span><small><a routerLink='/privacy-policy'>View Privacy Policy</a></small></span>
      </div>
    </form>
  }
  
  <!-- displayed if logged in -->
   @else {
    <mat-card class="auth-container">
      <mat-card-content>
        <div class="flex flex-col justify-center items-center">
          <h1>You are logged in</h1>
          <div class="policy-links flex flex-col justify-center items-center">
            <div class="policy-links flex flex-col justify-center items-center">
                <span><small><a routerLink='/privacy-policy'>View Privacy Policy</a></small></span>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="w-full flex flex-col justify-center items-center">
          <button mat-raised-button type="submit" color="primary" (click)="logout()" aria-label="Logout Button">Logout</button>
        </div>
      </mat-card-actions>
    </mat-card>
   }
</div>
  